* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
}
.form-control {
    width: 80vw;
    margin-right: 20px;
    font-size: 20px;
}
.fas {
    font-size: 20px;
}
.text-center {
    display: flex;
}
.container {
    height: 60vh;
}
.row {
    margin-top: 50px;
}
.search-box {
    margin-bottom: 50px;
}